---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="UDA HSIEH">
	<main class="text-center min-h-screen flex flex-col">
    <section class="bg-[url('/about-bg.png')] bg-cover bg-center h-44 flex justify-center items-center">
      <h3 class="about-title my-auto text-2xl">UDA HSIEH</h3>
    </section>
    <section class="flex-grow h-full flex justify-center bg-stone-400 text-white pt-12">
      <div>
        <p>
          Taiwan tattoo artist.
        </p>
        <p>
          Focus on Japanese traditional tattoos.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .about-title {
    font-family: 'Anton', sans-serif;
  }
</style>
